# Image
CONNECTOR_IMAGE=weforming-connector

# Log level
LOG_LEVEL=INFO

# Java runtime
JAVA_RUNTIME_FLAGS_CONNECTOR=
JAVA_RUNTIME_FLAGS_IH=

# Identity (did:indy:besu:wf:0x...)
PARTICIPANT_ID=did:indy:besu:wf:0x00B84237458b7a086d5a4212bEEDd469D423BC8E

# Identity proxy
IDENTITY_PROXY_URL=http://host.docker.internal:8080
IDENTITY_PROXY_TOKEN=change_me_1

# Keys
PUBLIC_KEY_NAME=public.pem
PRIVATE_KEY_NAME=private.pem
DID_PUBLIC_KEY_TYPE=Ed25519VerificationKey2018
DID_OWNER_PRIVATE_KEY=c4a4ec14e45cd9fb37c39a21fd08afdc182a47a0ae446c8e5768ef2218b330d4

# Trusted issuers
# Must be a list of DIDs separated by commas
TRUSTED_ISSUERS=

# Ports (Connector)
CONNECTOR_PORT_BASE=8081
CONNECTOR_PORT_PUBLIC=8082
CONNECTOR_PORT_CONTROL=8083
CONNECTOR_PORT_MANAGEMENT=8084
CONNECTOR_PORT_PROTOCOL=8085

# Ports (Identity Hub)
IH_PORT_BASE=7081
IH_PORT_CREDENTIALS=7082
IH_PORT_IDENTITY=7083
IH_PORT_DID=7084
IH_PORT_VERSION=7085
IH_PORT_STS=7086

# External URLs
CREDENTIAL_SERVICE_EXTERNAL_URL=https://localhost:7082
PROTOCOL_EXTERNAL_URL=https://localhost:8085

# Internal secrets
IH_SUPER_USER_SECRET=super-secret-key
POSTGRES_PASSWORD=postgres
